<div class="row margin">
  <%= ajax_link 'Add a Friend', new_friendship_path, {}, '#new_friendship_form' %>
</div>
<div id="new_friendship_form">
</div>
<div id="friendships_list" class="row margin" <%= listener_attrs(@current_user, :load_friends, endpoint: friends_path) %>>
  <%= render partial: 'friends' %>
</div>
<div id="friendship_requests_list" class="row margin" <%= listener_attrs(@current_user, :load_friend_requests, endpoint: friend_requests_path) %>>
  <%= render partial: 'friend_requests' %>
</div>
<div id="pending_friendships_list" class="row margin" <%= listener_attrs(@current_user, :load_pending_friends, endpoint: pending_friends_path) %>>
  <%= render partial: 'pending_friends' %>
</div>