<div class="well">
  <% if friendship.errors.any? %>
    <div class="error">
      <%= friendship.errors.full_messages.join("<br>") %>
    </div>
  <% end %>
  <%= form_for friendship, html: ajax_form_hash('#pending_friendships_list', 
        error_target: '#new_friendship_form',
        insert_method: 'append',
        empty_on_success: '#new_friendship_form') do |f| %>
    <div class="row margin">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <%= submit_tag 'Request Friendship', class: 'pill small margin' %>
    <a <%= emptier '#new_friendship_form' %> class="pill small">close</a>
  <% end %>
</div>