<div class="row">
  <div class="span margin">
    <h2><%= post.title %></h2>
  </div>
  <% if @current_user.id == post.user_id %>
    <div class="span right margin match-h2">
      <%= ajax_link 'edit post', edit_post_path(post), {}, dom_target(post) %>
    </div>
  <% else %>
    <div class="span right margin match-h2">
      by <%= post.user.email %><br>
      at <%= post.created_at.to_formatted_s(:short) %>
    </div>    
  <% end %>
</div>
<div class="row margin">
  <%= post.body %>
</div>
<div id="<%= dom_id(post, :comments) %>" class="comment">
  <%= render partial: '/comments/index', locals: {post: post} %>
</div>