<!DOCTYPE html>
<html>
  <head>
    <title>Polarizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "//js.pusher.com/4.3/pusher.min.js" %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <div id="hooch-mask">
      <div id="hooch-modal">
        <div id="hooch-dismiss">ⓧ</div>
      </div>
    </div>
    <% if ENV['JAVASCRIPT_LOGGER']%>
      <div data-debug_logger="true" data-logging_on="true"></div>
    <% end %>
    <div class="ajax-progress" style="display: none;" id="ajax_progress_container">
      <%= image_tag '/ajax-loader.gif' %>
    </div>
    </body>
</html>
